/* Utilities */

body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.font-colour {
    color: indianred;
}

.Button {

    border: none;
    background-color: indianred;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    height: 56px;
    width: 187px;
    display: flex;
    line-height: 1.8;


}

/* TopBanner--------------
-------------------------- */



.Banner {

    display: flex;
    height: 646px;
    width: 90%;

}

#Top {
    background-color: rgb(22, 22, 22);
    margin-left: 5%;
    right: 5%;
    border-radius: 2%;
    margin-top: 40px;

    margin-bottom: 120px;
}

#Middle {
    margin-left: 50px;

}

.top-info {
    color: rgb(255, 255, 255);
    width: 50%;
    padding-left: 70px;
    padding-top: 80px;

}

.top-info button:hover {
    background-color: brown;
    transition: 1s;
    box-shadow: 2px 1px 30px 1px indianred;
    border: solid indianred 1px;
    color: aliceblue;
    width: 200px;
}


.top-info h1 {
    font-size: 65px;

}

.top-image {
    width: 50%;
}

.top-image img {
    height: 100%;
}

.fa-angle-right {
    font-size: 25px;
    padding-top: 1px;

}

/* Middle-banner --------------
-------------------------------*/
#Middle {
    width: 100%;
    height: fit-content;

}

.Middle-Buttons {
    position: sticky;
    top: 0px;
}



.Middle-Right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.Middle-Box {
    height: 320px;
    width: 280px;
    background-color: lightgray;
    border-radius: 4%;
    margin: 9px;

}

#blog {
    background-color: indianred;
}

/* Button */
.middlebutton button {
    color: black;
    height: 60px;
    width: 220px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3%;
    border: none;
    cursor: pointer;
    margin: 5px;
    position: relative;
    top: 30px;
    left: 20px;
    text-decoration: none;

}

.middlebutton {

    background-color: lightgray;
    height: 280px;
    width: 280px;
    border-radius: 4%;
    align-items: center;
    text-decoration: none;
    position: sticky;
    top: 0px;
}

.middlebutton button a {
    text-decoration: none;
    color: black;
}

/* end */
.Middle-Box button {
    display: block;
    height: 30px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    cursor: pointer;
    border: solid rgb(43, 42, 42) .4px;
    padding-left: 15px;
    margin-left: 15px;


}

.Middle-Box img {
    height: 50%;
    width: 100%;
    border-radius: 4%;
}

.Middle-Box p {
    font-weight: 800;
    padding-left: 15px;
}

.Bottom-Info {
    margin-left: 50px;
}

i {
    margin-left: 15px;
}

/* Upcoming-matches---------- */
.png {
    width: 92px;
    height: 56px;
}

.vs {
    font-size: 20px;
    position: relative;
    bottom: 18px;
}

.matches {
    height: 240px;
    width: 280px;
    background-color: lightgray;
    border-radius: 4%;
    margin: 9px;
    font-size: 11px;
    text-align: center;
    padding-top: 70px;
}

/* Buttun-View-All --------*/
.Button-ViewAll {
    background-color: indianred;
    border: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 0px;
    right: 45%;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}

/* footers -------------*/
.footers {
    height: 400px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    position: relative;
    top: 120px;
    text-align: center;
    padding-top: 10%;

}

.footers hr {
    width: 80%;


}

.footers h1 {
    font-size: 40px;
    color: white;
}

.footers li {
    list-style: none;
    padding-right: 30px;
    color: aliceblue;
}

.footers ul {
    display: flex;
    justify-content: center;
}

.footers h2 {
    color: aliceblue;
}

.footers i {
    color: lightgray;
    justify-content: center;
}

/* Risponsive-------- */
/* Mobile Device */
@media only screen and (max-width:688px) {

    /* Topbanner */
    .Banner {


        display: block;
        height: fit-content;
        margin: 0%;

    }

    .top-info {
        width: 50%;
        align-items: center;
        padding-left: 22%;
    }

    .top-image {
        width: 50%;
        padding-left: 20%;
    }

    .top-image img {
        width: 100%;
        height: 100%;
    }

    .top-info h1 {
        font-size: 35px;
    }

    /* MiddleBanner */

    .Middle-Right {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        left: 20%;


    }

    .Button-ViewAll {
        display: none;
    }

    .middlebutton {
        display: flex;
        height: 120px;
        width: 100%;
        position: relative;
        right: 50px;
    }

    .middlebutton button {
        position: relative;
        top: 3px;
        left: 2px;
    }

    .footers ul {
        display: block;
    }

    .footers {
        max-width: 688px;
        height: fit-content;
    }

}

/* Pad-Device ---------------------*/
@media only screen and (min-width:688px) and (max-width:992px) {
    .Top {
        height: 100%;
        width: 100%;
    }

    .top-info {
        width: 50%
    }

    .top-info h1 {
        font-size: 45px;

    }

    .top-image img {
        width: 100%;
        height: 100%;
    }

    .middlebutton {
        display: flex;
        height: 120px;
        width: 100%;
        position: relative;
        right: 50px;
        padding-left: 15%;
        padding-right: 20%;
    }

    .middlebutton button {
        position: relative;
        top: 3px;
        left: 2px;
    }

    #Middle {
        display: block;
    }

    .Middle-Right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 8%;

    }

    #Box-9 {
        display: none;
    }

    .Button-ViewAll {
        display: block;
    }

}

@media only screen and (min-width:993px) {
    .Button-ViewAll {
        display: none;
    }
}